<div class="temperature-calculator-container">
  <h1>{{ title }}</h1>
  <div class="fahrenheit-row">
    <div class="f-row-label">
      <label for="fahrenheit">°F</label>
    </div>
    <div class="f-input">
      <input type="number" id="fahrenheit">
    </div>
    <div class="f-button">
      <button>to C</button>
    </div>
  </div>
  <div class="celsius-row">
    <div class="c-row-label">
      <label for="celsius">°C</label>
    </div>
    <div class="c-input">
      <input type="number" id="celsius">
    </div>
    <div class="c-button">
      <button>to F</button>
    </div>
  </div>
</div>
