.calculator-app {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  gap: 1rem;
  width: 300px;
  justify-self: center;
}

/* TODO Pick a good width for container, center everything, full width for color bar, NO PADDING */

.calculator-header {
  text-align: center;
}

.temperature-calculator-container {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 1rem;
}

.fahrenheit-row,
.celsius-row,
.kelvin-row {
  display: grid;
  grid-template-columns: subgrid;
}

.feels-like-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.feels-like-color-container {
  height: 1rem;
}

.buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

