.temperature-calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fahrenheit-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.f-row-label {
  padding-right: 3rem;
}

.celsius-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.c-row-label {
  padding-right: 3rem;
}

.kelvin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}
.k-row-label {
  padding-right: 3rem;
}

.feels-like-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}
.feels-like-label {
  padding-right: 3rem;
}
