<div  [formGroup]="temperatureFormGroup">
  <div class="temperature-calculator-container">
    <h1>Temperature Calculator</h1>
    <div class="fahrenheit-row">
      <div class="f-row-label">
        <label for="fahrenheit">°F</label>
      </div>
      <div class="f-input">
        <input type="number" id="fahrenheit" formControlName="fahrenheitInput">
        <div *ngIf="temperatureFormGroup.controls.fahrenheitInput.errors">
          Input is required
        </div>
      </div>
    </div>
    <div class="celsius-row">
      <div class="c-row-label">
        <label for="celsius">°C</label>
      </div>
      <div class="c-input">
        <input type="number" id="celsius" formControlName="celsiusInput">
        <div *ngIf="temperatureFormGroup.controls.celsiusInput.invalid">
          Input is required
        </div>
      </div>
    </div>
    <div class="kelvin-row">
      <div class="k-row-label">
        <label for="kelvin">K</label>
      </div>
      <div class="k-input">
        <input type="number" id="kelvin" formControlName="kelvinInput">
        <div *ngIf="temperatureFormGroup.controls.kelvinInput.invalid">
          Input is required
        </div>
      </div>
    </div>
    <div class="feels-like-row">
      <div class="feels-like-label">
        <label for="feels-like">Feels Like:</label>
      </div>
      <div class="feels-like-text" id="feels-like">
        <div>{{ condition$ | async }}</div>
      </div>
    </div>
    <div class="feels-like-color-container" [style.background-color]="temperatureColor$ | async">
    </div>
    <div class="buttons-grid">
      <button (click)="absoluteZeroButton()">Absolute Zero</button>
      <button (click)="iceButton()">Ice</button>
      <button (click)="niceButton()">Nice</button>
      <button (click)="hotButton()">Hot</button>
      <button (click)="boilingButton()">Boiling</button>
      <button (click)="randomButton()">Random</button>
    </div>
  </div>
</div>
